body {
  color: #bbb;
  background-color: #333;
}

#cv-data-date {
  font-color: #bbb;
}

#toggle-style-button,
#toggle-view-button {
  color: #bbb;
  background: #222;
  border-color: #bbb;
}

h1 span.description {
  color: #bbb;
}

a {
  color: #999;
  border-color: #ddd;
  font-weight: normal;
}

a: hover {
  border-color: #d0d0d0;
}

table {
  background: #333;
  border-color: #888;
}

table th {
  color: #bbb;
  background: #222;
  border-color: #888;
}

table th.highlight {
  color: #ddd;
  background: #111;
}

table th.rank {
  color: #bbb;
  background: #222;
}

/* th.mouseover { */
table th.mouseover {
  color: #ddd;
  background: #44a;
}

table td {
  background: #333;
  border-color: #555;
}

table td.highlight {
  color: #eee;
  background: #224;
  border-color: #555;
}

table td.rank {
  color: #bbb;
  background: #222;
  border-color: #555;
}

