body {
  color: #333;
  background-color: #fafafa;
}

#toggle-button {
  color: #33a;
  background: #eee;
}

h1 span.description {
  color: #6d6d6d;
}

a {
  color: #404040;
  border-color: #ddd;
}

a: hover {
  border-color: #d0d0d0;
}

table {
  background: #fff;
  border-color: #ddd;
}

table th {
  color: #000;
  background: #eee;
  border-color: #ccc;
}

table th.highlight {
  color: #333;
  background: #dfd;
}

table th.rank {
  color: #333;
  background: #ddd;
}

/* th.mouseover { */
table th.mouseover {
  color: #333;
  background: #ddf;
}

table td {
  background: #f8f8f8;
  border-color: #ddd;
  font-weight: normal;
}

table td.highlight {
  color: #333;
  background: #efe;
  border-color: #ddd;
}

table td.rank {
  color: #333;
  background: #eee;
  border-color: #bbb;
}

