
table .rank {
    width: 2%;
}

table .main-column {
  width: 16%;
}

table .population {
    width: 6%;
}

table .cases {
    width: 4%;
}

table .cases-per-million {
    width: 3%;
}

table .deaths {
    width: 3%;
}

.deaths-per-million {
    width: 3%;
}

.deaths-per-cent {
    width: 3%;
}



