

div#corona-virus-data {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

h1 {
    font-size: 25px;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    width: 90%;
    margin: auto;
}

table#cv-data-table {
    width: 90%;
    margin: auto;
}

td.highlight {
    color: #33d;
    font-weight: bold;
}

td.cv-data-rank {
    text-align:right;
    width: 2%;
}

td.cv-data-country {
    text-align:left;
    width: 18%;
}

td.cv-data-number {
    text-align:right;
    width: 10%;
}

th.cv-data-rank {
    text-align:right;
    width: 2%;
}

th.cv-data-country {
    text-align:left;
    width: 18%;
}

th.cv-data-number {
    text-align:right;
    width: 10%;
}

