

div#corona-virus-data {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

#header-left {
  width: 75%;
  display: inline-flex;
}

#cv-data-date {
  margin-left: 0;
  margin-right: auto;
}

#header-right {
  width: auto;
  display: inline-flex;
}

#buttons {
  margin-top: 20px;
}

#toggle-style-button,
#toggle-view-button {
  width: auto;
  margin-right: 10px;
  margin-left: 0;
  border-width: medium;
  border-radius: 4px;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: smaller;
}

h1 {
  font-size: 25px;
  width: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  width: 100%;
  margin: auto;
}

table.table-view {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

table th {
  font-size: smaller;
  font-weight: normal;
  font-style: italic;
}

table th.rank {
  font-size: normal;
}

table th.highlight {
  font-style: italic;
}

/* th.mouseover { */
table th.mouseover {
  cursor: pointer;
}

table td {
  font-size: small;
  font-weight: bold;
}

table td.rank {
  font-size: normal;
  font-weight: bold;
}

table th,
table td {
  text-align: right;
}

table th.main-column,
table td.main-column {
  text-align: left;
}
