
/* remember to define focus styles. Hee Haw */
:focus {
  outline: 0;
}

*,
*:before,
*:after {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 80px 0;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  display: block;
  margin: 0 0 10px;
}

h1 {
  font-size: 13px;
  margin: 0 0 20px;
  display: block;
  font-weight: normal;
}

h2 {
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0 10px;
}

h3 {
  font-size: 15px;
  margin: 20px 0;
}

ul {
  margin: 0 0 20px;
}

li {
  margin-left: 30px;
  margin-bottom: 3px;
}

ul li {
  list-style: disc;
}

ol li {
  list-style: decimal;
}

a {
  font-weight: bold;
  text-decoration: none;
}

table {
  font-size: small;
  font-weight: normal;
  max-width: 100%;
  border-spacing: 0;
  width: 100%;
  margin: 10px 0;
  border-width: 1px;
  border-style: solid;
  border-collapse: separate;
  *border-collapse: collapsed;
}

table th,
table td {
  border-width: 1px;
  border-style: solid;
  padding: 8px;
  line-height: 18px;
  text-align: left;
}

table th {
  font-weight: normal;
  font-size: smaller;
  vertical-align: bottom;
}

table td {
  vertical-align: top;
}

table thead: first-child tr: first-child th,
table tbody: first-child tr: first-child th,
table tbody: first-child tr: first-child td {
  border-top: 0;
}

