/* tablea still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

table {
    border-color: #bbb;
}

table th {
    border-top: 0px solid #bbb;;
    border-bottom: 1px solid #bbb;
    border-left: 0px solid #bbb;
}

table td {
    border-top: 1px solid #bbb;
}

table thead: first-child tr th,
table thead: first-child tr td {
    border-top: 1px solid #ddd;
}

table tbody + tbody {
    border-top: 1px solid #bbb;
}

table th + th {
    border-left: 1px solid #bbb;
}

table td + td,
table th + td,
table td + th {
    border-left: 1px solid #ddd;
}

table thead: first-child tr: first-child th,
table tbody: first-child tr: first-child th,
table tbody: first-child tr: first-child td {
    border-top: 0;
}

